{% extends 'base.html' %}

{% block title %}Wiadomości{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 clearfix">
            <div class="float-left ml-3">
                <h1>Wiadomości</h1>
            </div>
            <div class="float-right mr-3">
                <a href="{% url 'new_message' %}" class="btn btn-info float-right">
                    Nowa wiadomość
                </a>
            </div>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="offset-2 col-md-8 messages">
            {% if conversations %}
                {% for item in conversations %}
                    <a class="text-dark message" href="{% url 'show' user_id=item.user.pk %}">
                        <div class="card bg-light mb-3">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    {{ item.user.username }}
                                    <div class="float-right">
                                        {% if item.count != 0 %} Nowych:
                                            <span class="badge badge-pill badge-info">{{ item.count }}</span> {% endif %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <h1>Brak konwersacji</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block additional_js %}
    <script>
        $(function () {
            $('.card').hover(function () {
                $(this).removeClass('bg-light');
                $(this).addClass('bg-secondary');
            }, function () {
                $(this).removeClass('bg-secondary');
                $(this).addClass('bg-light');
            });
        })
    </script>
{% endblock %}
