{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}ChainBreak - Wiadomości{% endblock %}

{% block head_additional_data %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css"
          integrity="sha256-sJQnfQcpMXjRFWGNJ9/BWB1l6q7bkQYsRqToxoHlNJY=" crossorigin="anonymous"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8 offset-2">
            <h1>Nowa wiadomość</h1>
        </div>
    </div>

    <hr/>

    <div class="row">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="col-10 offset-1 alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <div class="col-8 offset-2">
            <form method="post" action="{% url 'new_message' %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.receiver|add_class:"col-4" }}
                    {{ form.content }}
                </div>

                <input class="btn btn-info form-control" type="submit" value="Wyślij wiadomość">
            </form>
        </div>
    </div>
{% endblock %}

{% block additional_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"
            integrity="sha256-BEqTcxuDdEftl1gxpORMY6kS6tR8RJIL3WxfXKKTI+g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/i18n/defaults-pl_PL.min.js"
            integrity="sha256-a8y8p6EEetJRzoR49sBNNobCkDZlv0tefH6RQW05dVQ=" crossorigin="anonymous"></script>
{% endblock %}
