{% extends 'base.html' %}

{% block title %}ChainBreak - Wiadomości z {{ other_user.username }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="offset-1 col-md-10">
            <a class="btn btn-info" href="{% url 'messages' %}">Wróć do wiadomości</a><br><br>
            <div class="top-buffer"></div>
            <div class="card">
                <div class="card-header">
                    <strong>Konwersacja z: {{ other_user.username }}</strong>
                </div>
                <ul class="list-group list-group-flush">
                    {% for message in messages %}
                        <li class="list-group-item">
                            {% if message.shipper.pk == user.pk %}
                                <div class="container">
                                    <div class="offset-5 col-md-7 message-sent"
                                         style="background-color: #2d7eff; color: white; padding: 10px 20px 25px 20px; border-radius: 15px;">
                                        <b>Ja:</b> {{ message.content }}
                                        <br>
                                        <div class="float-right" style="font-size: 12px;">
                                            <b>{{ message.created_at|date:"H:i d.m.y" }}</b></div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="container">
                                    <div class="col-md-7 message-received"
                                         style="background-color: #dadada; padding: 10px 20px 25px 20px; border-radius: 15px;">
                                        <b>{{ other_user.username }}:</b> {{ message.content }}
                                        <br>
                                        <div class="float-right" style="font-size: 12px;">
                                            <b>{{ message.created_at|date:"H:i d.m.y" }}</b></div>
                                    </div>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                    <li class="list-group-item">
                        <div id="scroll-to-form" class="container form-group">
                            <form method="post" action="{% url 'show' user_id=other_user.pk %}">{% csrf_token %}
                                <textarea name="content" id="id_content" placeholder="Treść wiadomości" required=""
                                          cols="40" rows="4" class="form-control"
                                          style="width: 100%; border-bottom-right-radius: 0; margin-bottom: -1px;"></textarea>
                                <input type="submit" value="Odpowiedz" class="float-right btn btn-outline-primary"
                                       style="border-top-right-radius: 0; border-top-left-radius: 0;">
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_js %}
    <script>
        window.onload = function () {
            window.scrollTo(0, document.body.scrollHeight);
        }
    </script>
{% endblock %}
