{% extends 'base.html' %}

{% block title %}ChainBreak  - moje ścieżki{% endblock %}

{% block additional_data %}
    <link rel="stylesheet" href="/static/clockpicker/dist/jquery-clockpicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
{% endblock %}


{% block additional_js %}
    <script src="/static/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script>
        $.fn.datepicker.dates['pl'] = {
            days: ["Niedziela", "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota"],
            daysShort: ["Nie", "Pon", "Wt", "Śr", "Czw", "Pt", "Sob"],
            daysMin: ["Nie", "Pon", "Wt", "Śr", "Czw", "Pt", "Sob"],
            months: ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"],
            monthsShort: ["Sty", "Lut", "Mar", "Kwi", "Maj", "Czer", "Lip", "Sie", "Wrz", "Paź", "Lis", "Gru"],
            today: "Dziś",
            clear: "Wyczyść",
            format: "dd/mm/yyyy",
            titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
            weekStart: 1
        };

        var input = $('#id_time');
        input.clockpicker({
            autoclose: true
        });

        $("#which").hide();
        setTimeout(function() {
            $("#which").show('slow');
        }, 0);

        $("#when").hide();
        setTimeout(function() {
            $("#when").show('slow');
        }, 200);

        $("#why").hide();
        setTimeout(function() {
            $("#why").show('slow');
        }, 400);

        $("#start").hide();
        setTimeout(function() {
            $("#start").show('slow');
        }, 600);
    </script>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'new_path' %}">{% csrf_token %}
	<h1>Nowa ścieżka</h1><br><br>
	<div class="row">
        <div class="col-4 text-center">
            <h3>Jaki nałóg chcesz zwalczyć?</h3>
        </div>
        <div class="col-4 text-center">
            <h3>Kiedy był ostatni raz?</h3>
        </div>
        <div class="col-4 text-center">
            <h3>W jaki sposób motywujesz chęć zwalczenia nałogu?</h3>
        </div>
    </div>
	<div class="row">
        <div class="col-4 text-center">
            <div id="which" class="card card-margin equal-card card-highlight">
                <div class="card-body">
                    <div style="overflow-y: scroll; height:150px;">
                        {{ form.addiction }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 text-center">
            <div id="when" class="card card-margin equal-card card-highlight">
                <div class="card-body">
                    {{ form.time }}<br>
                    {{ form.date }}
                </div>
            </div>
        </div>
        <div class="col-4 text-center">
            <div id="why" class="card card-margin equal-card card-highlight">
                <div class="card-body">
                    {{ form.motive }}
                </div>
            </div>
        </div>
    </div>
    {% if form.errors %}
        <div class="row">
            <div class="col-4 text-center">
                {% for error in form.addiction.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <div class="col-4 text-center">
                {% for error in form.time.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
                {% for error in form.date.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <div class="col-4 text-center">
                {% for error in form.motive.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="offset-4 col-4">
            <br>
            <div class="card-margin">
                <input id="start" type="submit" class="btn btn-success btn-block" value="Rozpocznij" />
            </div>
        </div>
	</div>
</form>
{% endblock %}
