{% extends 'base.html' %}

{% block title %}ChainBreak  - moje ścieżki{% endblock %}

{% block additional_js %}
    <script src="/static/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="http://www.gerardolarios.com/plugins-and-tools/jqmeter/js/jqmeter.min.js"></script>
    <script>
        function setTrophies() {
        	{% for path in paths %}
				$.get("{% url 'gettime' id=path.path.pk %}", function(data) {
					var delta = data.delta;
					var actual = "";
					if(delta.years !== 0) actual += delta.years + " lat "
					if(delta.months !== 0) actual += delta.months + " msc "
					if(delta.days !== 0) actual += delta.days + " dni "
					actual += delta.hours + " h "
					actual += delta.minutes + " min";
					$("#abst_time{{ path.path.pk }}").text(actual);
				});

				$.get("{% url 'get_best_trophy' id=path.path.pk %}", function(data) {
					var actual_total_seconds = Math.floor(data.actual_total_seconds);

					percentage = actual_total_seconds / Math.floor({{ path.trophy.time }}) * 100;
					percentage = Math.min(percentage, 100.00);
					percentage = percentage.toFixed(2) + "%";

					$("#percentage{{ path.path.id }}").text(percentage);

					var val2 = Math.floor({{ path.trophy.time }}).toString();
					var val1 = Math.min(actual_total_seconds, Math.floor({{ path.trophy.time }})).toString();

					var id = "#time" + "{{ path.path.id }}";
					$(id).jQMeter({
						goal: val2,
						raised: val1,
						meterOrientation:'horizontal',
						width:'100%',
						height:'25px',
						displayTotal: false,
						animationSpeed: 1
					});
				});

			{% endfor %}
        }

        setInterval(function() {
        	setTrophies()
        }, 15000);

        setTrophies();

    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 clearfix">
            <div class="float-left ml-3">
                <h1>Moje ścieżki</h1>
            </div>
            <div class="float-right mr-3">
                <a href="{% url 'new_path' %}" class="btn btn-info">Nowa ścieżka</a>
            </div>
        </div>
    </div>

    <hr/>

	<div class="row">
		<div class="offset-1 col-10">
            {% if not paths %}
                <h2>Brak prowadzonych ścieżek</h2>
                <a href="{% url 'new_path' %}">Rozpocznij nową ścieżkę</a>
            {% else %}
				{% for path in paths %}
					<div id="when" class="card card-margin equal-card card-highlight">
						<div class="card-body">
							<div>
								<a href="{% url 'quitpath' id=path.path.id %}" class="title-hover float-left"><h2 class="spacing-header">
									{{ path.path.addiction.name }}</h2>
								</a>
								<button type="button" class="btn btn-danger btn-sm float-right" data-toggle="modal" data-target="#deletePath{{ path.path.pk }}">
									Usuń
								</button>
								<div class="modal" id="deletePath{{ path.path.pk }}">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-body">
												<p>Czy na pewno chcesz usunąć ścieżkę?</p>
											</div>
											<div class="modal-footer">
												<button class="btn btn-info" data-dismiss="modal">Powrót</button>
												<a href="{% url 'delete_quitpath' id=path.path.pk %}" class="btn btn-danger">Usuń</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<table class="table calendar-table">
								<tbody class="table-sm">
									<tr>
										<td style="white-space: nowrap; width: 1px;">
											<b>Motywacja:</b>
											<p style="margin-left: 20px; margin-right: 20px;">
												{{ path.path.motive }}
											</p>

											<b>Abstynencja:</b>
											<p style="margin-left: 20px; margin-right: 20px;">
												<span id="abst_time{{ path.path.pk }}">
													{% if path.data.delta.years %}
														{{ path.data.delta.years }} lat
													{% endif %}
													{% if path.data.delta.months %}
														{{ path.data.delta.months }} msc
													{% endif %}
													{% if path.data.delta.days %}
														{{ path.data.delta.days }} dni
													{% endif %}
													{{ path.data.delta.hours }} h
													{{ path.data.delta.minutes }} min
												</span>
											</p>
										</td>
										<td style="white-space: nowrap; width: 1px;">
											<br>
											<img src="{{ path.trophy.icon }}" width="64" height="64">&nbsp;&nbsp;&nbsp;&nbsp;
										</td>
										<td class="text-center">
											<p id="percentage{{ path.path.id }}">{{ path.trophy.elapsed }}</p>
											<div id="time{{ path.path.id }}"></div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div><br>
				{% endfor %}
            {% endif %}
		</div>
	</div>
{% endblock %}