{% extends 'base.html' %}

{% block title %}ChainBreak  - ścieżka {{ quitpath.addiction.name }}{% endblock %}

{% block additional_data %}
    <link rel="stylesheet" href="/static/clockpicker/dist/jquery-clockpicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
{% endblock %}

{% block additional_js %}
    <script src="/static/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="http://www.gerardolarios.com/plugins-and-tools/jqmeter/js/jqmeter.min.js"></script>
    <script>
        setInterval(function(){
            $.get("/paths/gettime/{{ quitpath.pk }}", function(data) {
                var delta = data.delta;
		
		var actual = "";
		if(delta.years !== 0) actual += delta.years + " lat "
		if(delta.months !== 0) actual += delta.months + " msc "
		if(delta.days !== 0) actual += delta.days + " dni "
		actual += delta.hours + " h "
		actual += delta.minutes + " min";

                $("#abst_time").html(actual);
		
		var longest = "";
		if(data.longest.years !== 0) longest += data.longest.years + " lat "
		if(data.longest.months !== 0) longest += data.longest.months + " msc "
		if(data.longest.days !== 0) longest += data.longest.days + " dni "
		longest += data.longest.hours + " h "
		longest += data.longest.minutes + " min";

                $("#longest").html(longest);
            });
        }, 15000);

        $.fn.datepicker.dates['pl'] = {
            days: ["Niedziela", "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota"],
            daysShort: ["Nie", "Pon", "Wt", "Śr", "Czw", "Pt", "Sob"],
            daysMin: ["Nie", "Pon", "Wt", "Śr", "Czw", "Pt", "Sob"],
            months: ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"],
            monthsShort: ["Sty", "Lut", "Mar", "Kwi", "Maj", "Czer", "Lip", "Sie", "Wrz", "Paź", "Lis", "Gru"],
            today: "Dziś",
            clear: "Wyczyść",
            format: "dd/mm/yyyy",
            titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
            weekStart: 1
        };

        var input = $('#id_time');
        input.clockpicker({
            autoclose: true
        });

        var actual_total_seconds = Math.floor({{ actual_total_seconds }});

        setInterval(function(){
            actual_total_seconds++;
            {% for trophy in trophies %}
                percentage = actual_total_seconds / Math.floor({{ trophy.time }}) * 100;
                percentage = Math.min(percentage, 100.00);
                percentage = percentage.toFixed(2) + "%";

                var src = "";

                if(actual_total_seconds >= {{ trophy.time }}) {
                    src = "/static/admin/img/icon-yes.svg";
                } else {
                    src = "/static/admin/img/icon-no.svg";
                }

                $("#percentage{{ trophy.id }}").text(percentage);
                $("#achieved{{ trophy.id }}").attr("src", src);

                var val2 = Math.floor({{ trophy.time }}).toString();
                var val1 = Math.min(actual_total_seconds, Math.floor({{ trophy.time }})).toString();

                var id = "#time" + "{{ trophy.id }}";
                $(id).jQMeter({
                    goal: val2,
                    raised: val1,
                    meterOrientation:'horizontal',
                    width:'100%',
                    height:'25px',
                    displayTotal: false,
                    animationSpeed: 1
                });
            {% endfor %}
        }, 1000);

        $(document).ready(function(){
            {% for trophy in trophies %}
                percentage = actual_total_seconds / {{ trophy.time }} * 100;
                percentage = Math.min(percentage, 100.00);
                percentage = percentage.toFixed(2) + "%";

                var src = "";

                if(actual_total_seconds >= {{ trophy.time }}) {
                    src = "/static/admin/img/icon-yes.svg";
                } else {
                    src = "/static/admin/img/icon-no.svg";
                }

                $("#percentage{{ trophy.id }}").text(percentage);
                $("#achieved{{ trophy.id }}").attr("src", src);

                var val2 = Math.floor({{ trophy.time }}).toString();
                var val1 = Math.min(actual_total_seconds, Math.floor({{ trophy.time }})).toString();

                var id = "#time" + "{{ trophy.id }}";
                $(id).jQMeter({
                    goal: val2,
                    raised: val1,
                    meterOrientation: 'horizontal',
                    width: '100%',
                    height: '25px',
                    displayTotal: false,
                    animationSpeed: 1
                });
            {% endfor %}
        });
    </script>
{% endblock %}

{% block content %}
    <br>
	<div class="row">
        <div class="col-5">
            <h1><span>{{ quitpath.icon }}</span> {{ quitpath.addiction.name }}</h1><br>
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td><b>Motyw:</b></td>
                                <td>{{ quitpath.motive }}</td>
                            </tr>
                            <tr>
                                <td><b>Dzień rozpoczęcia:</b></td>
                                <td>{{ begin_date }}</td>
                            </tr>
                            <tr>
                                <td><b>Czas abstynencji:</b></td>
                                <td id="abst_time">
				{% if abst.years %}
					{{ abst.years }} lat
				{% endif %}
				{% if abst.months %}
					{{ abst.months }} msc
				{% endif %}
				{% if abst.days %}
					{{ abst.days }} dni
				{% endif %}
				{{ abst.hours }} h
				{{ abst.minutes }} min
                                </td>
                            </tr>
                            <tr>
                                <td><b>Ostatnie przerwanie:</b></td>
                                <td>{{ last_breakpoint_date }}</td>
                            </tr>
                            <tr>
                                <td><b>Najdłuższa abstynencja:</b></td>
                                <td id="longest">
				{% if longest.years %}
					{{ longest.years }} lat
				{% endif %}
				{% if longest.months %}
					{{ longest.months }} msc
				{% endif %}
				{% if longest.days %}
					{{ longest.days }} dni
				{% endif %}
				{{ longest.hours }} h
				{{ longest.minutes }} min
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#breakpoint-modal">Zanotuj przerwanie</button>
                    <div class="modal" id="breakpoint-modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form method="post" action="{% url 'quitpath' id=id %}">{% csrf_token %}
                                    <div class="modal-body">
                                        {{ form.time }}<br>
                                        {{ form.date }}
                                    </div>

                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-danger" value="Zanotuj"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>
	        <h2>Moje trofea</h2><br>
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered calendar-table">
                        <tbody class="table-light table-sm">
                            {% for trophy in trophies %}
                                <tr>
                                    <td style="white-space: nowrap; width: 1px;">
                                        <img src="{{ trophy.icon }}" width="64" height="64">&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                    <td class="text-center">
                                        <p id="percentage{{ trophy.id }}">{{ trophy.elapsed }}</p>
                                        <div id="time{{ trophy.id }}"></div>
                                    </td>
                                    <td style="white-space: nowrap; width: 1px;" class="text-center">
                                        <img id="achieved{{ trophy.id }}" src="/static/admin/img/icon-no.svg" width="25" height="25" style="margin-top: 30px;">
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
		<div class="col-7">
            <h3 class="text-center">
                <a class="btn btn-info calendar-btn-width" href="{% url 'quitpath' id=id %}?month={{ prev_month.month }}&year={{ prev_month.year }}">&larr;</a>
                {{ today.month }} {{ today.year }}
                <a class="btn btn-info calendar-btn-width" href="{% url 'quitpath' id=id %}?month={{ next_month.month }}&year={{ next_month.year }}">&rarr;</a>
            </h3><br>
            <table class="table table-bordered calendar-table">
                <thead class="table-light table-sm">
                    <tr>
                        <td class="calendar-column text-center">Pon</td>
                        <td class="calendar-column text-center">Wt</td>
                        <td class="calendar-column text-center">Śr</td>
                        <td class="calendar-column text-center">Czw</td>
                        <td class="calendar-column text-center">Pt</td>
                        <td class="calendar-column text-center">Sob</td>
                        <td class="calendar-column text-center">Nie</td>
                    </tr>
                </thead>
            </table>
            <table class="table table-bordered calendar-table">
                <tbody class="table-light table-sm">
                    {% for row in calendar %}
                        <tr>
                            {% for item in row %}
                                <td class="calendar-column calendar-cell {% if not item %}calendar-other-month{% endif %} {% if item.today %}calendar-today{% endif %}">
                                    {% if item %}
                                    <p class="float-right">{{ item.day }}</p>
                                        {% if item.breakpoints %}
                                            <div class="calendar-cell-center">
                                                <button data-toggle="collapse" class="btn btn-danger btn-block calendar-center-cell" data-target="#{{ item.date }}">&#10006; ({{ item.count }})</button>
                                                <div id="{{ item.date }}" class="collapse" style="position: fixed; min-width: 120px;">
                                                    <table class="table table-bordered table-light">
                                                        <tbody>
                                                            {% for breakpoint in item.breakpoints %}
                                                                <tr><td>
                                                                    {% if breakpoint.date.hour < 10 %}0{% endif %}{{ breakpoint.date.hour }}:{% if breakpoint.date.minute < 10 %}0{% endif %}{{ breakpoint.date.minute }} &nbsp;
                                                                    <a href="{% url 'delete_breakpoint' quitpath_id=id breakpoint_id=breakpoint.id %}">Usuń</a>
                                                                </td></tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
		</div>
	</div>
{% endblock %}