body {
    background-image: url('/static/tile.png');
}

/*
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
*/

.navbar-brand {
	padding-left: 10px;
	padding-right: 10px;
}

.nav-link {
	margin-right: 10px;
}

.nav-text {
	display: block;
	padding: .5rem 1rem;
	color: rgba(255,255,255,.75);
}

nav a:hover {
    background-color: #4d5359;
    text-decoration: none;
}

input {
	margin-top: 2px;
}

hr.vertical
{
   width: 0px;
   height: 100%;
}

hr {
    border-top: 1px solid black;
}

[class*="col-"] {
  margin-bottom: 30px;
}

.box {
    margin-left: 250px;
    margin-right: 250px;
}

.card-highlight:hover {
    background-color: #d3eaff;
}

.equal-card {
    min-height: 200px;
}

ul {
    list-style-type: none;
}

.card-margin {
     margin-left: 40px;
     margin-right: 40px;
}

.spacing-header {
    letter-spacing: 2px;
}

.title-hover:hover {
    text-decoration: none;
}

/* calendar */

.calendar-table {
    width: 100%;
    border-collapse: collapse;
}

.calendar-column {
    width: 14%;
    text-align: left;
    border: 1px solid black;
}

.calendar-cell {
    height: 100px;
}

.calendar-today {
    background-color: #bfffba;
}

.calendar-other-month {
    background-color: #f4f4f4;
}

.calendar-btn-width {
    width: 80px;
    margin-left: 30px;
    margin-right: 30px;
}

.calendar-cell-center {
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

/* quota */

.quota-panel {
    padding: 10px;
    background-color: #f0f0f0;
}

.left-horizontal {
    border-left: 6px solid #ccc;
}

.quota {
    font-size:22px;
    margin-left: 20px;
}

.author {
    margin-left: 20px;
}
