<!DOCTYPE html>
<html ng-app>
<head>
	<title>{% block title %}{% endblock %}</title>
	<script src="/static/jquery.min.js"></script>
	{% block additional_data %}{% endblock %}
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
	<script type="text/javascript" src="/static/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
	{% include 'navigation.html' %}
	<div class="container">
		<br>
		{% block content %}{% endblock %}
	</div>
	{% block additional_js %}{% endblock %}
</body>
</html>