{% extends 'base.html' %}

{% block title %}ChainBreak  - wyrwij się z niewoli{% endblock %}

{% block content %}
	<br>
	<div class="row">
		<div class="{% if user.is_authenticated %}col-9{% else %}col-12{% endif %}">
            <div class="row">
                <div id="quota" class="quota-panel left-horizontal col-12">
                    <i><p class="quota">"<span id="quota_text">{{ quota.text }}</span>"</p></i>
                    {% if quota.author %}
                        <p id="quota_author" class="author">{{ quota.author }}</p>
                    {% endif %}
                </div>
            </div>
			<h1 class="{% if not user.is_authenticated %}text-center{% endif %}" style="font-size: 60px; letter-spacing:5px;">ChainBreak</h1>
            <br>
            <div class="row">
                <div id="info" class="col-12">
                    <div class="card equal-card">
                        <div class="card-body">
                            <div style="font-size: 17px;">
                                <p>
                                    <span style="font-size: 25px;"><b>ChainBreak</b></span> to aplikacja wspomagająca proces wychodzenia z nałogów.
                                    W jednym miejscu możesz śledzić wszystkie swoje nałogi i złe nawyki i rozpocząć stopniowe ich zwalczanie!
                                    Ponadto aplikacja oferuje szereg pomocy takich jak:
                                </p>
                                <p style="margin-top: 10px; margin-left: 20px;">
                                    - forum internetowe - za pomocą forum internetowego możesz skontaktować się z innymi użytkownikami aplikacji
                                    i zasięgnąć wiele przydatnych informacji w wychodzeniu z nałogu
                                </p>
                                <p style="margin-top: 10px; margin-left: 20px;">
                                    - kontakty do specjalistów - jeśli Twój nałóg jest na tyle
                                    zaawansowany, że samotna walka jest dla Ciebie prawdziwym problemem,
                                    skontaktuj się z jednym ze specjalistów z Twojego regionu
                                </p>
                                <h4>Rozpocznij walkę z nałogiem już teraz!</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-flex">
                {% for item in navs %}
                    <div id="{{ item.id }}" class="col-6">
                        <div class="card card-highlight equal-card">
                            <div class="card-body">
                                <div class="card-title ">
                                    <h4 class="text-center">
                                        <a href="{{ item.url }}">
                                            <span><img src="{{ item.icon }}"></span>
                                            {{ item.title }}
                                        </a>
                                    </h4>
                                </div><br>
                                <p class="card-text">{{ item.text }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
		</div>
        {% if user.is_authenticated %}
            <div class="col-3">
                <h3>Powiadomienia</h3>
                <div id="notifications" class="card" style="height: 600px;">
                    <div class="card-body">
                        <div style="overflow-y: scroll; height:560px; padding-right: 5px;" id="notificationsPanel">
                            {% for notification in notifications %}
                                <a href="{% url 'notification' id=notification.id %}">
                                    <div style="font-size: 12px;" class="alert {% if notification.read %}alert-info{% else %}alert-success{% endif %}">
                                        <b>{{ notification.created }}</b>
                                        <b>{% if notification.read %}(Przeczytane){% else %}(Nowe){% endif %}</b><hr>
                                        {{ notification.text|safe }}
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
	</div>
{% endblock %}

{% block additional_js %}
    <script type="text/javascript">
        $('#quota').hide();
        setTimeout(function() {
            $('#quota').show('slow');
        }, 0);

        $('#info').hide();
        setTimeout(function() {
            $('#info').show('slow');
        }, 200);

        var time = 400;

        {% for item in navs %}
            $('#{{ item.id }}').hide();
            time += 200;
            setTimeout(function() {
                $('#{{ item.id }}').show('slow');
            }, time);
        {% endfor %}

        $('#notifications').hide();
        setTimeout(function() {
            $('#notifications').show('slow');
        }, 300);

        setInterval(function() { ;
            $('#quota').hide(1000, function() {
                $.get("{% url 'motivation' %}", function(data) {
                    $("#quota_text").html(data.text);
                    $("#quota_author").html(data.author);
                });
            });

            $('#quota').show(1000, function() {
            });
        }, 20000);

        setInterval(function() { ;
            $.get("{% url 'get_notifications' %}", function(data) {
                var count = $('#notificationsPanel').children().length;
                if(count !== data.length) {
                    $('#notificationsPanel').empty();
                    for (i = 0 ; i < data.length ; i++) {
                        var isRead = '', isNew = '';
                        if(data[i].read === true) {
                            isRead = 'alert-info';
                            isNew = '(Przeczytane)';
                        }
                        else {
                            isRead = 'alert-success';
                            isNew = '(Nowe)';
                        }
                        var content = '<a href="notification/' + data[i].id + '">'
                            + '<div style="font-size: 12px;" class="alert ' + isRead + '">'
                            + '<b>' + isNew + '</b><hr>'
                            + data[i].text
                            + '</div>'
                            + '</a>';
                        $('#notificationsPanel').append(content);
                    }
                }
            });
        }, 30000);
    </script>
{% endblock %}