<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between"> 
	<a class="navbar-brand h1" href="{% url 'index' %}">
		ChainBreak
		<!-- style="position: fixed; top: 0px; left: 0; width: 100%;"> -->
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navcontent" aria-controls="navcontent" aria-expanded="false" aria-label="Navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>

	<div class="collapse navbar-collapse" id="navcontent">
		<ul class="navbar-nav mr-auto">
			{% if user.is_authenticated %}
				{% if user.is_superuser %}
		      		<li class="nav-item">
						<a class="nav-link" href="{% url 'admin:index' %}">
		      				<img src="/static/nav-icons/admin.png">&nbsp;
		      				Panel administratora
	      				</a>
		      		</li>
				{% endif %}
	      		<li class="nav-item">
					<a class="nav-link" href="{% url 'paths' %}">
	      				<img src="/static/nav-icons/stop.png">&nbsp;
	      				Moje ścieżki
      				</a>
	      		</li>
	      		<li class="nav-item">
					<a class="nav-link" href="{% url 'messages' %}">
	      				<img src="/static/nav-icons/messages.png">&nbsp;
	      				Wiadomości
      				</a>
	      		</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'main_forum' %}">
						<img src="/static/nav-icons/forum.png">&nbsp;
						Forum
					</a>
				</li>
			{% endif %}
		</ul>
    	<ul class="navbar-nav navbar-right">
			{% if user.is_authenticated %}
      		<li class="nav-item">
				<span class="nav-text">Witaj, <b>{{ user.username }}</b></span>
      		</li>
      		<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}">
      				<img src="/static/nav-icons/logout.png">&nbsp;
					Wyloguj
				</a>
      		</li>
			{% else %}
      		<li class="nav-item">
				<a class="nav-link" href="{% url 'login' %}">
      				<img src="/static/nav-icons/login.png">&nbsp;
					Zaloguj
				</a>
      		</li>
      		<li class="nav-item">
				<a class="nav-link" href="{% url 'register' %}">
      				<img src="/static/nav-icons/register.png">&nbsp;
      				Rejestracja
      			</a>
      		</li>
			{% endif %}
    	</ul>
	</div>
</nav>