{% extends 'base.html' %}

{% block title %}ChainBreak  - forum {{ forum.name }}{% endblock %}

{% block content %}
	<h1>Forum: <b>{{ forum.name }}</b></h1><br>
	<div class="row">
		<div class="col-2">
			<table class="table table-bordered table-light">
				<thead>
					<tr><th scope="col">Nawigacja</th></tr>
				</thead>
				<tbody>
					<tr><td><a href="/forum/{{ forum.pk }}/thread_start">Nowy wątek</a></td></tr>
				</tbody>
			</table>
		</div>
		<div class="col-10">
			{% if threads %}
				{% for thread in threads %}
					<div id="thread-{{ thread.pk }}" class="card text-white bg-secondary mb-2">
						<div class="card-header"><b style="letter-spacing: 1px;">
							<a href="/forum/thread/{{ thread.pk }}" style="color: white;">{{ thread.name }}</a></b>
						</div>
						<div class="card-body">
							<p class="card-text">przez: <b>{{ thread.poster.username }}</b></p>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<h3>-- Brak wątków w forum --</h3>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block additional_js %}
	<script type="text/javascript">
		var time = 0;
		{% for thread in threads %}
			$('#thread-{{ thread.pk }}').hide();
			time += 100;
			setTimeout(function() {
				$('#thread-{{ thread.pk }}').show('slow');
			}, time);
		{% endfor %}
	</script>
{% endblock %}