{% extends 'base.html' %}

{% block title %}ChainBreak  - Forum dyskusyjne{% endblock %}

{% block content %}
	<h1><b>ChainBreak</b> - Forum dyskusyjne</h1><br>
	<div class="row">
		<div class="col-2">
			<table class="table table-bordered table-light">
				<thead>
					<tr><th scope="col">Nawigacja</th></tr>
				</thead>
				<tbody>
					{% for category in categories %}
						<tr><td><a id="{{ category.name }}-scrollto" href="#{{ category.name }}">{{ category.name }}</a></td></tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-10">
			{% for category in categories %}
				<h3 id="{{ category.name }}">-- {{ category.name }} --</h3>
				{% for forum in category.forums %}
					<div id="forum-{{ forum.pk }}" class="card text-white bg-secondary mb-2">
						<div class="card-header"><b style="letter-spacing: 1px;">
							<a href="/forum/{{ forum.pk }}" style="color: white;">{{ forum.name }}</a></b>
						</div>
						<div class="card-body">
							<p class="card-text">{{ forum.description }}</p>
						</div>
					</div>
				{% endfor %}
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block additional_js %}
	<script type="text/javascript">
		var time = 0;
		{% for category in categories %}
			{% for forum in category.forums %}
				$('#forum-{{ forum.pk }}').hide();
				time += 100;
				setTimeout(function() {
					$('#forum-{{ forum.pk }}').show('slow');
				}, time);
			{% endfor %}
		{% endfor %}

		function scrollTo(id) {
			$("html, body").animate({ scrollTop: $(id).offset().top }, 500);
		}

		{% for category in categories %}
			$("#{{ category.name }}-scrollto").click(function() { scrollTo('#{{ category.name }}'); });
		{% endfor %}
	</script>
{% endblock %}