{% extends 'base.html' %}

{% block title %}ChainBreak  - nowy wątek{% endblock %}

{% block content %}
	<div class="row">
		<div class="card offset-3 col-6">
			<div class="card-body">
				<div class="">
					<h3>Nowy wątek</h3><br>
					{% if form.errors %}
						{% for field in form %}
							{% for error in field.errors %}
								<div class="alert alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						{% endfor %}
					{% endif %}
					<form method="POST" action="{% url 'thread_start' id=id %}">{% csrf_token %}
						<div class="form-group">
							{{ form.name }}
						</div>
						<div class="form-group">
							{{ form.content }}
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary" value="Dodaj wątek">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}