{% extends 'base.html' %}

{% block title %}ChainBreak - "{{ thread.name }}"{% endblock %}

{% block content %}
	<h1>{{ thread.name }}</b></h1><br>
	<div class="row">
		{% if posts %}
			{% for post in posts %}
				<div class="{% if post.is_first %}col-12{% else %}offset-1 col-11{% endif %}">
					<div id="post-{{ post.pk }}" class="card {% if post.is_first %}bg-dark text-white{% else %}bg-light{% endif %} mb-2">
						<div class="card-header">
							<b>{{ post.poster }}</b> &#8226; <span style="font-size: 13px;">{{ post.date }}</span>
						</div>
						<div class="card-body">
							<p class="card-text">{{ post.content }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<h3>-- Brak postów w wątku --</h3>
		{% endif %}
	</div>
	<hr>
	<div class="row">
		<div class="offset-1 col-10">
			<div class="">
				{% if form.errors %}
					{% for field in form %}
						{% for error in field.errors %}
							<div class="alert alert-danger" role="alert">
								{{ error }}
							</div>
						{% endfor %}
					{% endfor %}
				{% endif %}
				<form method="POST">{% csrf_token %}
					<div class="form-group">
						{{ form.content }}
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary" value="Wyślij odpowiedź">
						<a href="/forum/{{ thread.forum.pk }}" class="btn btn-secondary">Powrót</a>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}