{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Logowanie{% endblock %}

{% block content %}
	<br><br>
	<div class="row">
		<div class="card offset-3 col-6">
			<div class="card-body">
				<form method="post" class="form-signin text-center" action="{% url 'login' %}">{% csrf_token %}
					<img class="mb-4 col-8" src="/static/chain_logo.png">
					<h2>Logowanie</h2><br>
					{% if form.errors %}
						{% for field in form %}
							{% for error in field.errors %}
								<div class="alert alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						{% endfor %}
					{% endif %}
  					<div class="form-group">
				    	{{ form.username|add_class:"form-control"|append_attr:"placeholder:Login" }}
				    	{{ form.password|add_class:"form-control"|append_attr:"placeholder:Hasło" }}
				    </div>
  					<div class="form-group">
				    	<input type="submit" class="btn btn-primary btn-block" value="Zaloguj" />
				    </div>
				    <div class="row float-right">
				    	<a class="col-12" href="/register">Załóż konto</a>
				    </div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}