{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Rejestracja{% endblock %}

{% block content %}
	<br><br>
	<div class="row">
		<div class="card offset-3 col-6">
			<div class="card-body">
				<form method="post" class="form-signin text-center" action="{% url 'register' %}">{% csrf_token %}
					<img class="mb-4 col-8" src="/static/chain_logo.png">
					<h2>Rejestracja</h2><br>
					{% if form.errors %}
						{% for field in form %}
							{% for error in field.errors %}
								<div class="alert alert-danger" role="alert">
									{{ error }}
								</div>
							{% endfor %}
						{% endfor %}
					{% endif %}
  					<div class="form-group">
						{{ form.username|add_class:"form-control"|append_attr:"placeholder:Login" }}
						{{ form.email|add_class:"form-control"|append_attr:"placeholder:E-mail" }}
					    {{ form.password1|add_class:"form-control"|append_attr:"placeholder:Hasło" }}
					    {{ form.password2|add_class:"form-control"|append_attr:"placeholder:Powtórz hasło" }}
					</div>
				    <input type="submit" class="btn btn-primary btn-block" value="Zarejestruj" />
				    <br><p>Masz już konto?<span><a class="col-6" href="/login">Zaloguj się</a></span><p>
				</form>
			</div>
		</div>
	</div>
{% endblock %}